@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

:root{

  --white:#fff;
  --black:#000;
  --main-text-color: #646363d3;
  --sub-text-color: #979797;

  --main-theme-color: #727cf5;
  --main-bg-color: #e6e6e65b;

  --sub-theme-color: #8f75da;
  --sub-bg-color: #8f75da;

  --side-bar-bg-color: #191b87;
  --side-bar-text-color:  #ebebeb;
  --side-bar-active-bg-color: #6476c2;
  --side-bar-hover-bg-color: #97a0c5;




  --nav-text-color: #CEDCE4;
  --nav-bg-color: #211870;
  --nav-hover-bg-color: #8793c5; 

  --log-out-button:  #211870;
  --log-out-button-hover:  #830303a4;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --card-header-text:rgb(35, 9, 107); 
  --card-background-colour: #ecf4ff;
}



/* SIDE BAR */
  .sidebar{
    background-color: var( --side-bar-bg-color);
    color:var(--side-bar-text-color);
    text-decoration: solid;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
    height: 100vh;
  }
  .sidebar hr{
    background-color: var(--hr-color);
  }
  .sidebar ul{
    list-style-type:none;
  }
  .sidebar ul li a {
    color:var(--side-bar-text-color);
  }

  .sidebar .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }

  .sidebar .nav-menu ul {
    display: contents;
  }
  .sidebar .nav-menu ul li{
    text-decoration: solid;
  }
  .sidebar .nav-menu ul li.active{
    background-color:  var(--side-bar-active-bg-color);
    color: var(--side-bar-text-color);
  }
  .sidebar .nav-menu ul li:hover:not(.active), .nav-menu ul li:hover:not(.active){
    background-color:  var(--side-bar-hover-bg-color);
    padding-left: 1rem;
    -webkit-transition: all 0.3s;
  }
  .sidebar .nav-menu ul li>a{
    list-style-type:none;
    display: block;
    padding: 1rem 0rem 1rem 2rem;
    margin: 0;
    color:var(--side-bar-text-color);
    text-decoration: solid;
  }
  .logout{
    margin: 0 0 7rem 7.3rem;
    padding:0.8rem;
    border-radius: 5rem ;
    -webkit-transition: all 0.3s;
  }
  .logout:hover{    
    background-color: var(--log-out-button-hover) !important;
    font-style: bold;
    cursor: pointer;
  }
  .sidebar .logout-menu:hover{    
    background-color: var(--log-out-button-hover) !important;
    font-style: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .sidebar .logout-menu a:hover{    
    text-decoration: none;
  }
  .img>a:hover{
    opacity: 60%;
    -webkit-transition: all 0.3s;
  }
/* /SIDE BAR */

/* NAV BAR */
.nav-bar {
  background-color: var(--nav-bg-color) !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 14px;
  color: var( --nav-text-color);
}
.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  color: var( --nav-text-color);
}
.nav-item{
  color: var(--nav-text-color);
}
.nav-item:hover{
  color: var(--nav-hover-bg-color);
}
/* /NAV BAR */

.page-area{
  overflow-y: auto;
  margin-left: auto;
}


  
