@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

:root{
  --main-theme-color: #727cf5;
  --main-bg-color: #e6e6e65b;

  --sub-theme-color: #8f75da;
  --sub-bg-color: #8f75da;

  --side-bar-bg-color: #191b87;
  --side-bar-text-color:  #ebebeb;
  --side-bar-active-bg-color: #6476c2;
  --side-bar-hover-bg-color: #8793c5;


  --main-text-color: #646363d3;
  --sub-text-color: #979797;

  --nav-text-color: #CEDCE4;
  --nav-bg-color: #211870;
  --nav-hover-bg-color: #8793c5; 

  --log-out-button:  rgba(126, 0, 0, 0.466);

  --shadow-color: rgba(0, 0, 0, 0.2);

  --card-header-text:rgb(35, 9, 107); 
  --card-background-colour: #ecf4ff;
}



/* SIDE BAR */
  .sidebar{
    background-color: var( --side-bar-bg-color);
    color:var(--side-bar-text-color);
    text-decoration: solid;
    font-size: 14px;
    overflow: auto;
  }
  .sidebar hr{
    background-color: rgb(255, 255, 255);
  }
  .sidebar ul li a {
    margin: 0;
    color:var(--side-bar-text-color);
  }
  .sidebar ul{
    list-style-type:none;
  }
  .side-item>a{
    list-style-type:none;
    padding: 0 !important;
    padding-left: 20px !important;
    display: block;
    padding: 15px;
    margin: 0;
    color:var(--side-bar-text-color);
    text-decoration: solid;
  }
  .logout{
    margin: 7em;
    padding:10px;
    -webkit-transition: all 0.3s;
  }
  .logout:hover{    
    background-color: var(--log-out-button) !important;
    border-radius: 100px;
    font-style: bold;
    cursor: pointer;
    padding:10px;
    box-shadow: 0 0px 8px 5px rgba(0, 0, 0, 0.2);
  }
  .side-item.active {
    background-color:  var(--side-bar-active-bg-color);
    color: var(--side-bar-text-color);
  }
  .side-item:hover:not(.active) {
    background-color:  var(--side-bar-hover-bg-color);
    padding-left: 10px;
  }  
  .side-item>a:hover{
    background-color:  var(--side-bar-hover-bg-color);
    padding-left: 20px;
  }
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }
  .nav-menu ul {
    display: contents;
  }

  .nav-menu ul li{
    text-decoration: solid;
    padding: 1rem 0rem 1rem 1rem;
  }
/* /SIDE BAR */

/* NAV BAR */
.nav-bar {
  background-color: var(--nav-bg-color) !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 14px;
  color: var( --nav-text-color);
}

.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  color: var( --nav-text-color);
}
.nav-item{
  color: var(--nav-text-color);
}
.nav-item:hover{
  color: var(--nav-hover-bg-color);
}
/* /NAV BAR */


/* CARDS */
.card-dash{
  border: 2px solid var(--card-header-text) !important;
  background-color: var(--card-background-colour);
  font-family: 'Oswald', sans-serif;
}
.card-title{
  font-size: 4rem;
  color: var(--card-header-text);
  font-family: 'Oswald', sans-serif;
  font-style: bolder;
  text-transform: uppercase;
}
.card-header h1{
  font-size: 1rem;
  color: var(--card-header-text);
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

/* /CARDS */
  
