@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

:root{

  --white:#fff;
  --black:#000;
  --main-text-color: #211870;
  --sub-text-color: #979797;
  --transparent:rgba(0, 0, 0, 0);

  --main-theme-color: #23096b;
  --main-bg-color: #fff;

  --sub-theme-color: #211870;
  --sub-bg-color: #fff;

  --color-primary : #3085d6;
  --color-secondary : #aaa;
  --color-success : #63c22c;
  --color-warning : #fdcf00;
  --color-warning-dark : #caa502;
  --color-danger : #d33;
  --color-info : #3fc3ee;
  --color-error : #87adbd;

  --side-bar-bg-color: #191b87;
  --side-bar-text-color:  #ebebeb;
  --side-bar-active-bg-color: #6476c2;
  --side-bar-hover-bg-color: #97a0c5;

  --nav-text-color: #CEDCE4;
  --nav-bg-color: #211870;
  --nav-hover-bg-color: #8793c5; 

  --log-out-button:  #211870;
  --log-out-button-hover:  #830303a4;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --scroll-bar-track-color:rgb(212, 212, 212);
  --scroll-bar-color:rgb(18, 18, 53);
  --scroll-bar-hover-color: rgb(65, 65, 190);

  --footer-background-color: rgb(25, 27, 135);
  --footer-link-color:rgb(146, 146, 146);
  --footer-link-hover-color:rgba(255, 255, 255, 0.705);
}

html{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif !important;
  -webkit-transition: all 0.3s;
  scroll-behavior: smooth;
}

/* buttons */
.btn.btn-primary{
  color: var(--white);
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}
.btn.btn-primary:hover{
  color: var(--white);
  font-weight: bold;
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}

.btn.btn-warning{
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}
.btn.btn-warning:hover{
  background-color: var(--color-warning-dark);
  border-color: var(--color-warning-dark);
}
.btn.btn-outline-warning{
  color:var(--color-warning);
  border-color:var(--color-warning);
}
.btn.btn-outline-warning:hover{
  color: initial;
  border-color: transparent;
}
.btn.btn-outline-primary{
  color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}
.btn.btn-outline-primary:hover, .show > .btn-outline-primary.dropdown-toggle{
  color: var(--white);
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}
/* /buttons */

/* cards */
.card{
  border: none;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card-header{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-theme-color);
  background-color: var(--white);
  border: none;
}
.card .card-body th {
  color: var(--main-theme-color);
  font-weight: normal;
}
.card .card-body td {
  vertical-align: middle;
}
.card .card-footer{
  border-top: none;
  background-color: var(--white);
  text-align: right;
}
/* /cards */

/* modals */
.modal .modal-content .modal-header .modal-title{
  color: var(--main-text-color);
}
.modal .modal-content .modal-body{
  padding: 2rem 4rem 4rem 4rem;
}
.modal .modal-content .modal-body i{
  padding-right: 0.5rem;
  vertical-align: middle;
}
.modal .modal-content .modal-body i.fa-check{
  color: var(--color-success);
}
.modal .modal-content .modal-body i.fa-times{
  color: var(--color-danger);
  padding-right: 0.7rem;

}
.modal .modal-content .modal-body input{
  vertical-align: middle;
}
/* /modals */

/* SIDE BAR */
  .sidebar{
    background-color: var( --side-bar-bg-color);
    color:var(--side-bar-text-color);
    text-decoration: solid;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
    height: 100vh;
  }
  .sidebar hr{
    background-color: var(--hr-color);
  }
  .sidebar ul{
    list-style-type:none;
  }
  .sidebar ul li a {
    color:var(--side-bar-text-color);
  }

  .sidebar .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }

  .sidebar .nav-menu ul {
    display: contents;
  }
  .sidebar .nav-menu ul li{
    text-decoration: solid;
  }
  .sidebar .nav-menu ul li.active{
    background-color:  var(--side-bar-active-bg-color);
    color: var(--side-bar-text-color);
  }
  .sidebar .nav-menu ul li:hover:not(.active), .nav-menu ul li:hover:not(.active){
    background-color:  var(--side-bar-hover-bg-color);
    padding-left: 1rem;
    -webkit-transition: all 0.3s;
  }
  .sidebar .nav-menu ul li>a{
    list-style-type:none;
    display: block;
    padding: 1rem 0rem 1rem 2rem;
    margin: 0;
    color:var(--side-bar-text-color);
    text-decoration: solid;
  }
  .logout{
    padding: 1.2rem;
    border-radius: 5rem ;
    -webkit-transition: all 0.3s;
  }
  .logout:hover{    
    background-color: var(--log-out-button-hover) !important;
    font-style: bold;
    cursor: pointer;
  }
  .sidebar .logout-menu:hover>.logout:hover{    
    background-color: var(--log-out-button-hover) !important;
    cursor: pointer;
    
  }
  .sidebar .logout-menu a:hover{    
    text-decoration: none;
  }
  .img>a:hover{
    opacity: 60%;
    -webkit-transition: all 0.3s;
  }
/* /SIDE BAR */

/* NAV BAR */


.nav-bar{
  background-color: var(--nav-bg-color) !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 14px;
  color: var( --nav-text-color);
}
.nav-bar a, nav a {
  text-decoration: none;
  font-size: 14px;
  color: var( --nav-text-color);
}
.nav-item{
  color: var(--nav-text-color);
}
.nav-item:hover{
  color: var(--nav-hover-bg-color);
}
/* /NAV BAR */

/* MOBILE NAV BAR */
.mobile-nav{
  background-color: var(--nav-bg-color) !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 14px;
  color: var( --nav-text-color);
}
.mobile-nav a {
  font-size: 14px;
  color: var( --nav-text-color);
}
.mobile-nav ul {
  display: contents;
  text-decoration: none;
  list-style-type: none;
}
.mobile-nav ul li{
  text-decoration: none;
}
.mobile-nav ul li.active{
  background-color:  var(--side-bar-active-bg-color);
  color: var(--side-bar-text-color);
}

.mobile-nav ul li>a{
  list-style: none;
  list-style-type: none;
  display: block;
  padding: 1rem 0rem 1rem 2rem;
  margin: 0;
  color:var(--side-bar-text-color);
  text-decoration: none;
}
/* /MOBILE NAV BAR */

/* PAGE AREA */
.page-area{
  overflow-y: auto;
  margin-left: auto;
}
/* /PAGE AREA */

/*scroll-bar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color:var(--scroll-bar-track-color); 
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var( --scroll-bar-color); 
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-hover-color); 
}
/*scroll-bar*/
  
/* FOOTER */
  .footer{
    background-color:var(--footer-background-color) !important;
    color: var(--footer-link-color);
  }

  .footer a{
    color: var(--footer-link-color) !important;
  }

  .footer a:hover{
    text-decoration:none;
    color: var(--footer-link-hover-color) !important;
  }
/* /FOOTER */

/* DATATABLE */
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0;
  margin: 0;
  border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: rgb(0, 0, 0) !important;
  border: 1px solid #ffffff!important;
  background-color: #2980B9!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff))!important;
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%)!important;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%)!important;
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%)!important;
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%)!important;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%)!important;
}

/* /DATATABLE */

/* TABLE */
.table th[rowspan] {
  vertical-align: middle;
}
/* /TABLE */

/* tabs */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color: var(--main-theme-color);
  font-size: 12px;
  background-color: var(--transparent);
  border-color: var(--main-theme-color) var(--transparent) var(--transparent);
}
.nav-tabs a{
  color: var(--main-theme-color);
  font-size: 12px;
} 
.nav-tabs {
  border-bottom: 3px solid var(--main-theme-color);
}
.nav-tabs .nav-link{
  border: 3px solid var(--transparent);
}
/* /tabs */


@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
  .sidebar{
    display: none;
  } 
  .page-area .nav-bar{
    display: none;
  } 
}

@media only screen and (min-width: 992px) {
  .page-area .mobile-nav{
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
}

/* Backtotop */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 7px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(25, 27, 135, 0.555); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 13px 8px 13px; /* Some padding */
  border-radius: 500px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* /backtotop */