/* SIDE BAR */
  .sidebar{
    background-color: #211870;
  }
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }
  .nav-menu ul {
    display: contents;
  }

  .nav-menu ul li{
    text-decoration: solid;
    padding: 1rem 0rem 1rem 1rem;
  }
/* /SIDE BAR */

/* NAV BAR */
.nav-bar {
  background-color: #211870 !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #f2f2f2;
}

.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
}
/* /NAV BAR */

  
