:root{
  --main-theme-color: #727cf5;
  --main-bg-color: #e6e6e65b;

  --sub-theme-color: #8f75da;
  --sub-bg-color: #8f75da;

  --main-text-color: #646363d3;
  --sub-text-color: #979797;

  --nav-text-color: #CEDCE4;
  --nav-bg-color: #333333; 
}

/* SIDE BAR */
  .sidebar{
    background-color: #211870;
  }
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }
  .nav-menu ul {
    display: contents;
  }

  .nav-menu ul li{
    text-decoration: solid;
    padding: 1rem 0rem 1rem 1rem;
  }
/* /SIDE BAR */

/* NAV BAR */
.nav-bar {
  background-color: var(--nav-bg-color) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #f2f2f2;
}

.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
}
/* /NAV BAR */

  
