:root{
  --main-theme-color: #727cf5;
  --main-bg-color: #e6e6e65b;

  --sub-theme-color: #8f75da;
  --sub-bg-color: #8f75da;

  --side-bar-bg-color:  #211870;
  --side-bar-text-color:  #ebebeb;
  --side-bar-active-bg-color: #6476c2;
  --side-bar-hover-bg-color: #8793c5;


  --main-text-color: #646363d3;
  --sub-text-color: #979797;

  --nav-text-color: #CEDCE4;
  --nav-bg-color: #0f074e; 

  --log-out-button:  rgb(126, 0, 0);
}

/* SIDE BAR */
  .sidebar{
    background-color: var( --side-bar-bg-color);
    color:var(--side-bar-text-color);
    text-decoration: solid;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: auto;
  }
  .sidebar ul li a {
    margin: 0;
    padding: 15px;
    display: block;
    color:var(--side-bar-text-color);
    text-decoration: solid;
  }
  .sidebar ul{
    list-style-type:none;
  }
  .side-item{
    list-style-type:none;
    padding: 0 !important;
    padding-left: 20px !important;
  }
  .logout:hover{    
    color: var(--log-out-button) !important;
    display: block;
  }
  .side-item.active {
    background-color:  var(--side-bar-active-bg-color);
    color: var(--side-bar-text-color);
  }
  .side-item:hover:not(.active) {
    background-color:  var(--side-bar-hover-bg-color);
    color: rgb(39, 38, 38);
  }
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
  }
  .nav-menu ul {
    display: contents;
  }

  .nav-menu ul li{
    text-decoration: solid;
    padding: 1rem 0rem 1rem 1rem;
  }
/* /SIDE BAR */

/* NAV BAR */
.nav-bar {
  background-color: var(--nav-bg-color) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #f2f2f2;
}

.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
}
/* /NAV BAR */

  
