:root{
  --card-dash-header-text:#ffffff; 
  --card-header-text-hover: #000000; 

  --card-background-green:#188839;
  --card-background-blue:#193474;
  --card-background-red:#8d1414;
  --card-background-black:#414040;
  --card-background-yellow:#b99803;

  --card-header-text:#211870; 
}
/* number CARDS */
.dashboard .card-dash{
  border: none;
  border-radius: 0;
  color: var(--card-dash-header-text);
}
.dashboard a.card:hover{
  text-decoration: solid;
  opacity: 80%;
}
.dashboard .card:hover .card-footer{
  color: var( --card-header-text-hover) ;
}
.dashboard .card-dash .card-title{
  font-size: 4rem;
  color: var(--card-dash-header-text);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
}
.dashboard .card-dash .card-header h1{
  font-size: 1rem;
  color: var(--card-dash-header-text);
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.dashboard .card .green{  
  background-color: var(--card-background-green);
}

.dashboard .card .blue{  
  background-color: var(--card-background-blue);
}

.dashboard .card .red{  
  background-color: var(--card-background-red);
}

.dashboard .card .black{  
  background-color: var(--card-background-black);
}

.dashboard .card .yellow{  
  background-color: var(--card-background-yellow);
}
/* /number CARDS */

/* CARDS */
.dashboard .card{
  border: none;
  border-radius: 0;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  overflow-y: auto;
}
.dashboard .card-header{
  color: var(--card-header-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
  padding: 1.5rem 0 0 1.5rem;
}
.dashboard .card .card-body th {
  color: var(--system-card-table-th-text);
}
.dashboard .card .card-body td {
  vertical-align: middle;
}
.dashboard .card .card-footer{
  border-top: none;
  background-color: var(--white);
  text-align: right;
}
/* /CARDS */