
/* number CARDS */
.dashboard a.card:hover{
  text-decoration: solid;
  color: var(--card-header-text);
  opacity: 80%;
}
.dashboard .card-dash{
  border: none;
  border-radius: 0;
  background-color: var(--card-background-colour);
}
.dashboard .card-dash .card-title{
  font-size: 4rem;
  color: var(--card-header-text);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.dashboard .card-dash .card-header h1{
  font-size: 1rem;
  color: var(--card-header-text);
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

/* /number CARDS */

/* CARDS */
.dashboard .card{
  border: none;
  border-radius: 0;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  overflow-y: auto;
}
.dashboard .card-header{
  color: var(--card-header-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
}
.dashboard .card .card-body th {
  color: var(--system-card-table-th-text);
}
.dashboard .card .card-body td {
  vertical-align: middle;
}
.dashboard .card .card-footer{
  border-top: none;
  background-color: var(--white);
  text-align: right;
}
/* /CARDS */