html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer{
  background: #eee;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}



/* Add a black background color to the top navigation */
.navbar {
    background-color: #211870 !important;
    overflow: hidden;
    text-align: center !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 200px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
  }
 







/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #211870;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: solid;
  }

  .sidebar p {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: solid;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color:  #8793c5;
    color: rgb(255, 255, 255);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color:  #8793c5;
    color: rgb(39, 38, 38);
  }

  .avatar {
    vertical-align: middle;
    width: 100px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
