.root {
  --tr-hover-color: #CEDCE4;
}

/* CREATE EXAM SHEDULE */


/* /CREATE EXAM SHEDULE */


/* EXAM SHEDULE TABLE */
.staff-exams .card .header {
  color: var(--card-header-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
  padding: 1.5rem 0 0 1.5rem;
}

.staff-exams .card{
  border: none;
  border-radius: 0;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  overflow-y: auto;
}

.staff-exams .card:hover {
  text-decoration: none;
}

.staff-exams .card .card-body th {
  color: var(--system-card-table-th-text);
}
.staff-exams .card .card-body td {
  vertical-align: middle;
}

.staff-exams .card .card-body tr:hover {
  background-color: var(--tr-hover-color);
}

.staff-exams .card .card-body #exam-date, #start-time, #end-time, #subject {
  border: solid 1px var(--log-out-button);
  border-radius: 0.4rem;
}

.staff-exams .card .card-body #exam-date:hover, #start-time:hover, #end-time:hover, #subject:hover {
  opacity: 90%;
  background-color: var(--color-secondary);
}

/* /EXAM SHEDULE TABLE */

