
/* cards */
.system .card{
  border: none;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.system .card-header{
  font-weight: bold;
  color: var(--main-theme-color);
  background-color: var(--white);
  border: none;
}
.system .card .card-body th {
  color: var(--main-theme-color);
  font-weight: normal;
}
.system .card .card-body td {
  vertical-align: middle;
}
.system .card .card-footer{
  border-top: none;
  background-color: var(--white);
  text-align: right;
}
/* /cards */

/* modals */
.system .modal .modal-content .modal-header .modal-title{
  color: var(--main-text-color);
}
.system .modal .modal-content .modal-body{
  padding: 2rem 4rem 4rem 4rem;
}
.system .modal .modal-content .modal-body i{
  padding-right: 0.5rem;
  vertical-align: middle;
}
.system .modal .modal-content .modal-body i.fa-check{
  color: var(--color-success);
}
.system .modal .modal-content .modal-body i.fa-times{
  color: var(--color-danger);
}
.system .modal .modal-content .modal-body input{
  vertical-align: middle;
}
.system .modal .modal-footer .btn.btn.btn-outline-primary{
  color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}
.system .modal .modal-footer .btn.btn.btn-outline-primary:hover{
  color: var(--white);
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
}
/* /modals */


@media only screen and (max-width: 1200px) {
  .system .card{
    margin-top: 2rem;
  }
}