:root{
    --accordion-card-color:rgb(242, 238, 255);
}
.student .avatar {
    vertical-align: middle;
    align-items: center;
    border-radius: 50%;
}
.student .img {
    align-items: center;
}
.student .nav-pills .nav-link.active,.student .nav-pills .show > .nav-link{
    background-color: var(--main-theme-color);
}
i.fa-check{
    color: var(--color-success);
}
i.fa-times{
    color: var(--color-danger);
}


/* tabs */
.student .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: var(--main-theme-color);
    font-size: 1.15rem;
    background-color: var(--transparent);
    border-color: var(--main-theme-color) var(--transparent) var(--transparent);
}
.student .nav-tabs a{
    color: var(--main-theme-color);
    font-size: 1.15rem;
} 
.student .nav-tabs {
    border-bottom: 3px solid var(--main-theme-color);
}
.student .nav-tabs .nav-link{
    border: 3px solid var(--transparent);
}
/* /tabs */
