:root{
    --accordion-card-color:rgb(242, 238, 255);
}
.student .avatar {
    vertical-align: middle;
    align-items: center;
    border-radius: 50%;
}
.student .img {
    align-items: center;
}
.student .nav-pills .nav-link.active,.student .nav-pills .show > .nav-link{
    background-color: var(--main-theme-color);
}
i.fa-check{
    color: var(--color-success);
}
i.fa-times{
    color: var(--color-danger);
}
/* accordion */
.student #accordion .card{
    border: 1px !important;
    box-shadow: none !important;
}
.student #accordion  .card-header{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-theme-color);
    background-color: var(--accordion-card-color);
    border: 1px !important;
}
.header-show{    
    background-color: var(--main-theme-color) !important;
}
.student #accordion  .card-header .btn{
    color: var(--main-theme-color);
}
.btn-show{    
    background-color: var(---main-theme-color) ;
    color: var(--white)!important;
}
.student #accordion  .card-header .btn:focus{
    box-shadow: none !important;
}
.student #accordion  .card .card-body th {
    color: var(--main-theme-color);
    font-weight: normal;
}
/* /accordion */

/* tabs */
.student .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: var(--main-theme-color);
    font-size: 1.25rem;
    background-color: var(--transparent);
    border-color: var(--main-theme-color) var(--transparent) var(--transparent);
}
.student .nav-tabs {
    border-bottom: 3px solid var(--main-theme-color);
}
.student .nav-tabs .nav-link{
    border: 3px solid var(--transparent);
}
.student .nav-tabs a{
    color: var(--main-theme-color);
    font-size: 1.25rem;
} 
/* /tabs */
