/* Registration */
.student-registration .card .card-body h6 {
  color: var(--sub-text-color);
  font-weight: bold;
}

.student-registration .card .card-body .details {
  border: solid 1px var(--color-secondary);
  box-shadow: var(--color-secondary);
  border-radius: 10px;
}

.student-registration .card small {
  color: var(--color-secondary);
  font-size: 0.9rem;
}

/* /Registration */