/* Registration */
.student-registration .card .card-body h6 {
  color: var(--color-secondary);
  font-weight: bold;
}

.student-registration .card .card-body .details {
  border: solid 1px var(--color-secondary);
  box-shadow: var(--color-secondary);
  border-radius: 10px;
}

/* /Registration */