/* Registration */
.student-registration .card .card-body h6 {
  color: var(--sub-theme-color);
  font-weight: bold;
}

.student-registration .card .card-body .registration {
  border: solid 2px var(--main-theme-color);
  border-radius: 10px;
  font-weight: bold;
}

.student-registration .card .card-body .details {
  border: solid 2px var(--color-secondary);
  border-radius: 10px;
}

.student-registration .card small {
  color: var(--sub-text-color);
  font-size: 0.9rem;
}

.student-registration .countryCodeSelect, .student-registration .countryCodeOption{
  text-transform: uppercase;
}
/* /Registration */