/* Registration */
.student-results table tbody td {
  text-align: center;
}
/* /Registration */

/* accordion */
.student-results #accordion .card{
  border: 1px !important;
  box-shadow: none !important;
}
.student-results #accordion  .card-header{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-theme-color);
  background-color: var(--accordion-card-color);
  border: 1px !important;
}
.header-show{    
  background-color: var(--main-theme-color) !important;
}
.student-results #accordion  .card-header .btn{
  color: var(--main-theme-color);
}
.btn-show{    
  background-color: var(---main-theme-color) ;
  color: var(--white)!important;
}
.student-results #accordion  .card-header .btn:focus{
  box-shadow: none !important;
}
.student-results #accordion  .card .card-body th {
  color: var(--main-theme-color);
  font-weight: normal;
}
/* /accordion */