/* About Us Section
--------------------------------*/

#about {
    background: #fff;
    padding: 80px 50px;
  }
  
  #about .about-container .background {
    min-height: 300px;
    background: center top no-repeat;
    margin-bottom: 10px;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid  #23159c;
  }
  
  #about .about-container .icon-box .icon i {
    color:  #23159c;
    font-size: 24px;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

  .announce{
    background-color: rgba(55, 3, 104, 0.466);
    border-radius: 40px 0px 0px 40px;
    text-align: left;
  }

  .announce>h1{
    font-size: 24px !important;
    padding-top: 20px !important; 
    margin-top: 0px !important;
    color: rgb(255, 255, 255) !important;
  }

  .announcement{
    color: rgb(182, 182, 182);
    padding-left: 10px;
  }

  .announcement>ul>li>p>a{
    color: rgb(231, 198, 6) !important;
    padding-left: 10px;
  }
  .announcement>a{
    color: rgb(255, 255, 255) !important;
    padding-left: 10px;
  }

  .announce-footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
  }

  .announce-footer>p>a{
    color: #fff;
  }