:root{

  --white:#fff;
  --black:#000;
  --main-text-color: #211870;
  --sub-text-color: #979797;
  --transparent:rgba(0, 0, 0, 0);

  --main-theme-color: #23096b;
  --main-bg-color: #fff;

  --sub-theme-color: #211870;
  --sub-bg-color: #fff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
  }
  
  dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
  tab1 { padding-left: 1em; }
  tab2 { padding-left: 2.25em; }
  
  body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color:  #23159c;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #23159c;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
    font-size: 14px;
  }

  table {
    font-size: 14px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background:  #23159c;
    color: #fff;
  }

  /*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }

  /*scroll-bar*/

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #999; 
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 3, 94); 
    border-radius: 0px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 118, 180); 
  }

  /* announcement image size */
  #announcementDiscription img{
    width: 100% !important;
  }