/* Registration
 --------------------------------*/

 #registration {
    background: #fff;
    padding: 0px 50px 0px 50px;
}

#registration .about-container .background {
    min-height: 300px;
    background: center top no-repeat;
    margin-bottom: 0px;
}

#registration .about-container .content {
    background: #fff;   
}

#registration .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
}

#registration .about-container p {
    line-height: 26px;
}

#registration .about-container p:last-child {
    margin-bottom: 0;
}

#registration .about-container .icon-box {
    background: rgba(255, 255, 255, 0);
    background-size: cover;
    padding: 0 0 100px 0;
}

#registration .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid  #23159c;
}

#registration .about-container .icon-box .icon i {
    color:  #23159c;
    font-size: 24px;
}

#registration .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

#registration .about-container .icon-box .title a {
    color: #111;
}

#registration .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

input[type="email"]{
    padding: 1.3rem 1rem 1.3rem 1rem;
    font-weight: bold;
}

#submit {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0px;
    border: 2px solid #23159c;
    color: #23159c;
    background:  #fff;
    /* border: 1px;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s; */
}

#submit:hover {
    background: #23159c;
    color: #fff;
    border: 2px solid  #fff;
}
#submit:focus {
    outline: none;
    background: #23159c;
    color: #fff;
    border: 2px solid  #fff;
}

#submit:disabled{
    outline: none;
    background: #868484;
    color: #fff;
    border: 2px solid  #fff;
}

.form-label{
    font-size: 14px;
    font-weight: bold;
}